.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  display: flex;
  justify-content: space-around;
}

.main-page {
  display: flex;
  justify-content: center;
  margin-top: 4%;
  margin-right: 500px;
  margin-left: 20%;
}

.graph-buying_power{
  display: flex;
  flex-direction: column;
  width: 70%;
}

.fixed-container {
  position: fixed;
  right: 200px;
  /* bottom: 650px; */
  top: 100px;
  width: 250px;
  height: 200px;
}

.stock-list {
  width: 100%;
  height: 500px;
  overflow: scroll;
  box-shadow: 0px 0px 5px rgb(107, 104, 104);
}
/* 
.stock-graph {
  height: 325px;
} */

