.App {
  -webkit-tap-highlight-color: transparent;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -.1px;
  line-height: 20px;
  font-family: Capsule Sans Text,-apple-system,BlinkMacSystemFont,sans-serif;
  -webkit-text-size-adjust: none;
  color: var(--text-primary);
  --rh__primary-base: rgb(255,80,0);
  --rh__primary-hover: rgba(230,72,0,1);
  --rh__primary-pressed: rgba(204,64,0,1);
  --rh__primary-light-base: rgba(255,80,0,0.3);
  --rh__primary-lightest-base: rgba(255,80,0,0.1);
  --rh__semantic-positive-base: rgb(0,200,5);
  --rh__semantic-positive-light: rgba(0,200,5,0.3);
  --rh__semantic-negative-base: rgb(255,80,0);
  --rh__semantic-negative-light: rgba(255,80,0,0.3);
  --rh__semantic-success-base: rgb(0,200,5);
  --rh__semantic-success-light: rgba(0,200,5,0.3);
  --rh__semantic-error-base: rgb(255,80,0);
  --rh__semantic-error-light: rgba(255,80,0,0.3);
  --rh__semantic-scary-base: rgb(255,80,0);
  --rh__semantic-scary-light: rgba(255,80,0,0.3);
  --rh__primary-textOverlay: var(--rh__neutral-bg1);
  --rh__primary-light-textOverlay: var(--rh__primary-base);
  --rh__primary-lightest-textOverlay: var(--rh__primary-base);
  --rh-LEGACY__primary-color-hover: rgba(230,72,0,1);
  --rh__neutral-fg1: rgb(0,0,0);
  --rh__neutral-fg2: rgb(106,114,120);
  --rh__neutral-fg3: rgb(180,189,194);
  --rh__neutral-bg3: rgb(227,233,237);
  --rh__neutral-bg2: rgb(245,248,250);
  --rh__neutral-bg1: rgb(255,255,255);
  --rh__neutral-hover-fg1: rgba(38,38,38,1);
  --rh__neutral-hover-fg2: rgba(128,135,140,1);
  --rh__neutral-hover-fg3: rgba(191,199,203,1);
  --rh__neutral-hover-bg1: rgba(242,242,242,1);
  --rh__neutral-hover-bg2: rgba(233,236,237,1);
  --rh__neutral-hover-bg3: rgba(216,221,225,1);
  --rh__neutral-pressed-fg1: rgba(64,64,64,1);
  --rh__neutral-pressed-fg2: rgba(143,149,154,1);
  --rh__neutral-pressed-fg3: rgba(199,206,209,1);
  --rh__neutral-pressed-bg1: rgba(230,230,230,1);
  --rh__neutral-pressed-bg2: rgba(221,223,225,1);
  --rh__neutral-pressed-bg3: rgba(204,210,213,1);
  --rh__text-color: rgb(0,0,0);
  --rh__shadow__s1: rgba(0,0,0,0.06);
  --rh__shadow__s2: rgba(0,0,0,0.02);
  --rh__focus-inner-color: rgb(0,127,245);
  --rh__focus-outer-color: rgba(0,127,245,0.25);
  --rh__type-palette__textS__stack: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  --rh__type-palette__textS__font-size: 13px;
  --rh__type-palette__textS__font-weight: 400;
  --rh__type-palette__textS__line-height: 20px;
  --rh__type-palette__textS__letter-spacing: -0.1px;
  --rh__type-palette__textSBold__stack: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  --rh__type-palette__textSBold__font-size: 13px;
  --rh__type-palette__textSBold__font-weight: 700;
  --rh__type-palette__textSBold__line-height: 20px;
  --rh__type-palette__textSBold__letter-spacing: -0.1px;
  --rh__type-palette__textM__stack: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  --rh__type-palette__textM__font-size: 15px;
  --rh__type-palette__textM__font-weight: 400;
  --rh__type-palette__textM__line-height: 24px;
  --rh__type-palette__textM__letter-spacing: -0.1px;
  --rh__type-palette__textMBold__stack: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  --rh__type-palette__textMBold__font-size: 15px;
  --rh__type-palette__textMBold__font-weight: 700;
  --rh__type-palette__textMBold__line-height: 24px;
  --rh__type-palette__textMBold__letter-spacing: -0.1px;
  --rh__type-palette__textL__stack: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  --rh__type-palette__textL__font-size: 18px;
  --rh__type-palette__textL__font-weight: 400;
  --rh__type-palette__textL__line-height: 28px;
  --rh__type-palette__textL__letter-spacing: -0.25px;
  --rh__type-palette__textLBold__stack: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  --rh__type-palette__textLBold__font-size: 18px;
  --rh__type-palette__textLBold__font-weight: 700;
  --rh__type-palette__textLBold__line-height: 28px;
  --rh__type-palette__textLBold__letter-spacing: -0.25px;
  --rh__type-palette__displayS__stack: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  --rh__type-palette__displayS__font-size: 21px;
  --rh__type-palette__displayS__font-weight: 500;
  --rh__type-palette__displayS__line-height: 28px;
  --rh__type-palette__displayS__letter-spacing: -0.1px;
  --rh__type-palette__displayM__stack: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  --rh__type-palette__displayM__font-size: 24px;
  --rh__type-palette__displayM__font-weight: 500;
  --rh__type-palette__displayM__line-height: 32px;
  --rh__type-palette__displayM__letter-spacing: -0.33px;
  --rh__type-palette__displayL__stack: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  --rh__type-palette__displayL__font-size: 32px;
  --rh__type-palette__displayL__font-weight: 500;
  --rh__type-palette__displayL__line-height: 40px;
  --rh__type-palette__displayL__letter-spacing: -0.33px;
  --rh__size-palette__gutterWidthXs: 4px;
  --rh__size-palette__gutterWidthSm: 8px;
  --rh__size-palette__gutterWidth: 12px;
  --rh__size-palette__borderRadius: 4px;
  --rh__size-palette__cellHeightSm: 36px;
  --rh__size-palette__cellHeight: 48px;
  --rh__size-palette__cellHeightLg: 60px;
  --rh__size-palette__largeInputPadding: 20px;
  --rh__size-palette___experimentalAnchorTableStickyHeaderZIndex: 1;
  --rh__size-palette___experimentalToastZIndex: 600;
  --rh__size-palette___experimentalNavBarZIndex: 100;
  --rh__size-palette___experimentalPopoverZIndex: 1;
  --rh__size-palette___experimentalModalZIndex: 301;
  --rh__size-palette___experimentalSelectMenuZIndex: 500;
  box-sizing: inherit;
  display: block;
  background-color: var(--background);
}

.MuiPopover-paper {
  color: white;
}

:root {
  --background: white;
  --text-primary: black;
}

[data-mode='dark'] {
  --background: black;
  --text-primary: white;
  /* --text-primary: white;
  --text-secondary: grey;
  --accent: darkred; */
}

/* .App[data-mode="dark"] {
  background-color: black;
  color: white
} */

.stock-list[data-mode="dark"] {
  background-color: rgb(30, 33, 36);
  color: white
}


.card[data-mode="dark"] {
  color: white
}

.news-story[data-mode="dark"] {
  background-color: black;
  color: white;
}

.trending-lists[data-mode="dark"] {
  color: white;
}

.header-info-container[data-mode="dark"] {
  color: white;
}


.col-12[data-mode="dark"] {
  background-color: black;
  color: white;
}

.sidebar-content[data-mode="dark"] {
  color: white;
}

.stock-card:hover[data-mode="dark"] {
  background-color: rgb(48,54,58);
}

.stock-list:hover[data-mode="dark"] {
  background-color: rgb(48,54,58);
}

button.collection-button[data-mode="dark"] {
  color: white;
  border-color: gainsboro;
  background-color: black;
}

.movers-container[data-mode="dark"] {
  color: white
}

#custom-css-outlined-input {
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.body {
  font-family: 'Roboto', sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 20px;
  position: sticky;
  text-size-adjust: 100%;
  top: 0px;
  width: 100%;
  z-index: 105;
  margin-top: 2%;
  align-items: center;
}

.header-info-container {
  display: flex;
  align-items: center;
}

.info-icon {
  margin-top: 11px;
  margin-left: 4px;
}

.signin-page {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

@media only screen and (max-width: 600px) {
  .signin-page {
    flex-direction: column;
  }
}



.search{
  -webkit-tap-highlight-color: transparent;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -.1px;
  line-height: 20px;
  font-family: Capsule Sans Text,-apple-system,BlinkMacSystemFont,sans-serif;
  -webkit-text-size-adjust: none;
  color: var(--rh__neutral-fg1);
  --rh-fixed-header-height: 64px;
  box-sizing: inherit;
  height: var(--rh__size-palette__cellHeightSm);
  position: relative;
  width: 50%;
} 

.a3Jm9_7eI9W-YsXRyrVJX {
  color: var(--text-primary);
}


.side-bar {
  -webkit-tap-highlight-color: transparent;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -.1px;
  line-height: 20px;
  font-family: Capsule Sans Text,-apple-system,BlinkMacSystemFont,sans-serif;
  -webkit-text-size-adjust: none;
  color: var(--rh__neutral-fg1);

  box-sizing: inherit;
  display: block;
}


.main-container{
  -webkit-tap-highlight-color: transparent;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -.1px;
  line-height: 20px;
  font-family: Capsule Sans Text,-apple-system,BlinkMacSystemFont,sans-serif;
  -webkit-text-size-adjust: none;
  box-sizing: inherit;
  display: block;
  margin: 0 auto;
  width: 1024px;
  padding-top: 36px;
}

.row{
  -webkit-tap-highlight-color: transparent;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -.1px;
  line-height: 20px;
  font-family: Capsule Sans Text,-apple-system,BlinkMacSystemFont,sans-serif;
  -webkit-text-size-adjust: none;
  color: var(--rh__neutral-fg1);
  box-sizing: inherit;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0 -6px;
  margin-top: 0;
}

.col-12{
  -webkit-tap-highlight-color: transparent;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -.1px;
  line-height: 20px;
  font-family: Capsule Sans Text,-apple-system,BlinkMacSystemFont,sans-serif;
  -webkit-text-size-adjust: none;
  color: var(--rh__neutral-fg1);
  box-sizing: inherit;
  display: block;
  padding-left: 6px;
  padding-right: 6px;
  -webkit-box-flex: 0;
  flex: 0 0 66.66667%;
  min-width: 0px;
  width: auto;
}

.col-5{
  -webkit-tap-highlight-color: transparent;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -.1px;
  line-height: 20px;
  font-family: Capsule Sans Text,-apple-system,BlinkMacSystemFont,sans-serif;
  -webkit-text-size-adjust: none;
  color: var(--rh__neutral-fg1);
  box-sizing: inherit;
  display: block;
  padding-left: 6px;
  padding-right: 6px;
  -webkit-box-flex: 0;
  flex: 0 0 27.77778%;
  margin-right: 0;
}

.sidebar-content{
  -webkit-tap-highlight-color: transparent;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -.1px;
  line-height: 20px;
  font-family: Capsule Sans Text,-apple-system,BlinkMacSystemFont,sans-serif;
  -webkit-text-size-adjust: none;
  color: var(--rh__neutral-fg1);
  box-sizing: inherit;
  margin-left: -24px;
  margin-top: -24px;
  overflow-y: auto;
  padding: 24px;
  width: 323.77778px;
  height: calc(100vh - var(--rh-fixed-header-height, 64px) - 36px);
  margin-right: -24px;
  position: sticky;
  top: calc(var(--rh-fixed-header-height, 64px) + 12px);
  margin-bottom: -64px;
}

.card{
  -webkit-tap-highlight-color: transparent;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -.1px;
  line-height: 20px;
  font-family: Capsule Sans Text,-apple-system,BlinkMacSystemFont,sans-serif;
  -webkit-text-size-adjust: none;
  color: var(--rh__neutral-fg1);
  --rh-fixed-header-height: 64px;
  border: 1px solid var(--rh__neutral-bg3);
  background-color: var(--rh__neutral-bg1);
  border-radius: var(--rh__size-palette__borderRadius);
  box-sizing: border-box;
  box-shadow: 0px -12px 24px rgba(0,0,0,0.02), 0px 12px 24px rgba(0,0,0,0.06);
  height: 80%;
  overflow: hidden auto;
  position: relative;
}

.css-1{
  -webkit-tap-highlight-color: transparent;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: -.1px;
  line-height: 20px;
  font-family: Capsule Sans Text,-apple-system,BlinkMacSystemFont,sans-serif;
  -webkit-text-size-adjust: none;
  color: var(--rh__neutral-fg1);
  --rh__primary-base: rgb(255,80,0);
  --rh__primary-hover: rgba(230,72,0,1);
  --rh__primary-pressed: rgba(204,64,0,1);
  --rh__primary-light-base: rgba(255,80,0,0.3);
  --rh__primary-lightest-base: rgba(255,80,0,0.1);
  --rh__semantic-positive-base: rgb(0,200,5);
  --rh__semantic-positive-light: rgba(0,200,5,0.3);
  --rh__semantic-negative-base: rgb(255,80,0);
  --rh__semantic-negative-light: rgba(255,80,0,0.3);
  --rh__semantic-success-base: rgb(0,200,5);
  --rh__semantic-success-light: rgba(0,200,5,0.3);
  --rh__semantic-error-base: rgb(255,80,0);
  --rh__semantic-error-light: rgba(255,80,0,0.3);
  --rh__semantic-scary-base: rgb(255,80,0);
  --rh__semantic-scary-light: rgba(255,80,0,0.3);
  --rh__primary-textOverlay: var(--rh__neutral-bg1);
  --rh__primary-light-textOverlay: var(--rh__primary-base);
  --rh__primary-lightest-textOverlay: var(--rh__primary-base);
  --rh-LEGACY__primary-color-hover: rgba(230,72,0,1);
  --rh__neutral-fg1: rgb(0,0,0);
  --rh__neutral-fg2: rgb(106,114,120);
  --rh__neutral-fg3: rgb(180,189,194);
  --rh__neutral-bg3: rgb(227,233,237);
  --rh__neutral-bg2: rgb(245,248,250);
  --rh__neutral-bg1: rgb(255,255,255);
  --rh__neutral-hover-fg1: rgba(38,38,38,1);
  --rh__neutral-hover-fg2: rgba(128,135,140,1);
  --rh__neutral-hover-fg3: rgba(191,199,203,1);
  --rh__neutral-hover-bg1: rgba(242,242,242,1);
  --rh__neutral-hover-bg2: rgba(233,236,237,1);
  --rh__neutral-hover-bg3: rgba(216,221,225,1);
  --rh__neutral-pressed-fg1: rgba(64,64,64,1);
  --rh__neutral-pressed-fg2: rgba(143,149,154,1);
  --rh__neutral-pressed-fg3: rgba(199,206,209,1);
  --rh__neutral-pressed-bg1: rgba(230,230,230,1);
  --rh__neutral-pressed-bg2: rgba(221,223,225,1);
  --rh__neutral-pressed-bg3: rgba(204,210,213,1);
  --rh__text-color: rgb(0,0,0);
  --rh__shadow__s1: rgba(0,0,0,0.06);
  --rh__shadow__s2: rgba(0,0,0,0.02);
  --rh__focus-inner-color: rgb(0,127,245);
  --rh__focus-outer-color: rgba(0,127,245,0.25);
  --rh__type-palette__textS__stack: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  --rh__type-palette__textS__font-size: 13px;
  --rh__type-palette__textS__font-weight: 400;
  --rh__type-palette__textS__line-height: 20px;
  --rh__type-palette__textS__letter-spacing: -0.1px;
  --rh__type-palette__textSBold__stack: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  --rh__type-palette__textSBold__font-size: 13px;
  --rh__type-palette__textSBold__font-weight: 700;
  --rh__type-palette__textSBold__line-height: 20px;
  --rh__type-palette__textSBold__letter-spacing: -0.1px;
  --rh__type-palette__textM__stack: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  --rh__type-palette__textM__font-size: 15px;
  --rh__type-palette__textM__font-weight: 400;
  --rh__type-palette__textM__line-height: 24px;
  --rh__type-palette__textM__letter-spacing: -0.1px;
  --rh__type-palette__textMBold__stack: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  --rh__type-palette__textMBold__font-size: 15px;
  --rh__type-palette__textMBold__font-weight: 700;
  --rh__type-palette__textMBold__line-height: 24px;
  --rh__type-palette__textMBold__letter-spacing: -0.1px;
  --rh__type-palette__textL__stack: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  --rh__type-palette__textL__font-size: 18px;
  --rh__type-palette__textL__font-weight: 400;
  --rh__type-palette__textL__line-height: 28px;
  --rh__type-palette__textL__letter-spacing: -0.25px;
  --rh__type-palette__textLBold__stack: "Capsule Sans Text",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  --rh__type-palette__textLBold__font-size: 18px;
  --rh__type-palette__textLBold__font-weight: 700;
  --rh__type-palette__textLBold__line-height: 28px;
  --rh__type-palette__textLBold__letter-spacing: -0.25px;
  --rh__type-palette__displayS__stack: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  --rh__type-palette__displayS__font-size: 21px;
  --rh__type-palette__displayS__font-weight: 500;
  --rh__type-palette__displayS__line-height: 28px;
  --rh__type-palette__displayS__letter-spacing: -0.1px;
  --rh__type-palette__displayM__stack: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  --rh__type-palette__displayM__font-size: 24px;
  --rh__type-palette__displayM__font-weight: 500;
  --rh__type-palette__displayM__line-height: 32px;
  --rh__type-palette__displayM__letter-spacing: -0.33px;
  --rh__type-palette__displayL__stack: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  --rh__type-palette__displayL__font-size: 32px;
  --rh__type-palette__displayL__font-weight: 500;
  --rh__type-palette__displayL__line-height: 40px;
  --rh__type-palette__displayL__letter-spacing: -0.33px;
  --rh__size-palette__gutterWidthXs: 4px;
  --rh__size-palette__gutterWidthSm: 8px;
  --rh__size-palette__gutterWidth: 12px;
  --rh__size-palette__borderRadius: 4px;
  --rh__size-palette__cellHeightSm: 36px;
  --rh__size-palette__cellHeight: 48px;
  --rh__size-palette__cellHeightLg: 60px;
  --rh__size-palette__largeInputPadding: 20px;
  --rh__size-palette___experimentalAnchorTableStickyHeaderZIndex: 1;
  --rh__size-palette___experimentalToastZIndex: 600;
  --rh__size-palette___experimentalNavBarZIndex: 100;
  --rh__size-palette___experimentalPopoverZIndex: 1;
  --rh__size-palette___experimentalModalZIndex: 301;
  --rh__size-palette___experimentalSelectMenuZIndex: 500;
  --rh-fixed-header-height: 64px;
  box-sizing: inherit;
  margin-bottom: 60px;
  margin-top: -24px;
}

.stock-list-title{
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.stock-list {
  background-color: var(--background);
  transition: all .2s ease-in-out;
  padding: 0 4% 0 4%;
}

.stock-list:hover{
  background-color: rgb(235, 231, 231);
}

.stock-list-stock-info{
  display: flex;
  align-items: center;
}

.symbol-shares-owned{
  display: flex;
  flex-direction: column;
  /* width: 100%; */
}

/* .add-list {
  border: solid;
} */

.new-list-form{
  width: 100%;
}

.add-list{
  display: flex;
  align-items: center;
}

#list-add{
  cursor: pointer;
}

.list-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.login {
  display: flex;
  flex-direction: column;
  justify-content: center;;
  align-items: center;
  margin-top: 2%;
  height: 80vh;
  margin-right: 25%;
  margin-left: 25%;
  margin-bottom: 5%;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 30%;
  align-items: center;
}

.welcome {
  border: solid;
}

.news-story{
  background-color: white;
  border-top-color: rgb(224, 226, 226);
  border-top-width: .1em;
  padding-top: 6px;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.5s ease;
}

.title-headline {
  width: 60%;
}

.news-story:hover{
  background-color: rgb(30,33,36);
  border-radius: 4px;
}


.css-1e4ygyu {
  min-width: 0px;
  width: auto;
}

.news-story.title-headline {
  margin-right: 20px;
}


img.news {
  border-radius: 2%;
  width: 30%;
  height: 100%;
}

.autocom-box li{
  transition: font-size .2s ease;
}  

.autocom-box li:hover{
  font-size: medium;
}  

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.trending-lists{
  height: max-content;
  margin-top: 10%;
  margin-bottom: 14%;
}

.movers-container{
  height: max-content;
  margin-top: 10%;
  margin-bottom: 14%;
}

.stock-card-container {
  display: flex;
  justify-content: flex-start;
}

.stock-card {
  border: solid;
  border-width: thin;
  border-color: rgb(190, 190, 190);
  border-radius: 4%;
  height: 200px;
  width: 170px;
  padding-left: 8px;
  margin-right: 3%;
  transition: ease .2s;
}

.stock-card:hover{
  background-color: rgb(235, 232, 232);
  border: none;
}


/* .search-input.active .autocom-box li{
  display: block;
} */
/* .autocom-box li:hover{
  background: #efefef;
}  */

.stock-list-stock-price{
  text-align: right;
}

a{
  display: flex;
  width: 100%;
  align-items: center;
  text-decoration: none;
  color: black;
  height: 100px
}

input.login:focus {
  outline: none;
  border: 3px solid rgb(5, 141, 27);
}


button.collection-button {
  text-decoration: none;
  border: solid;
  border-color: rgb(241, 241, 241);
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  margin-right: 3px;
  margin-top: 3px;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.5s ease;
}

button.collection-button:hover {
  border-color: rgb(133, 219, 107);
}

._2wuDJhUh9lal-48SV5IIfk {
  margin-bottom: 60px;
  transition-property: background;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}

.css-19gdfx2 {
  column-gap: 12px;
  display: flex;
  flex-wrap: wrap;
}

.css-10ypg7 {
  flex-basis: 160.667px;
}

.css-1689bsa {
  border-collapse: separate;
  border-spacing: 0px;
  width: 100%;
}

.css-dhyehc {
  position: sticky;
  top: 144px;
  z-index: var(--rh__size-palette___experimentalAnchorTableStickyHeaderZIndex);
}

.css-sl18mi-HeaderRow {
  background-color: var(--rh__neutral-bg1);
  display: flex;
  margin: 0 calc(-1 * calc(2 * var(--rh__size-palette__gutterWidth)));
  padding: 0 calc(2 * var(--rh__size-palette__gutterWidth));
}

.css-16sjopo {
  appearance: none;
  background: none;
  border: 0px;
  color: unset;
  cursor: pointer;
  font: inherit;
}

.css-klp03n {
  appearance: none;
  background: none;
  border: 0px;
  cursor: pointer;
  font: inherit;
  color: rgb(94, 167, 185);
  border-bottom: solid;
}

.YLzQdbd6ixTG1LWujco0N {
  height: 33px;
  margin-left: -12px;
  margin-right: -12px;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
}

.css-w8p71j {
  margin: 0px;
  color: var(--text-primary);
  font-family: var(--rh__type-palette__textSBold__stack);
  font-size: var(--rh__type-palette__textSBold__font-size);
  font-style: normal;
  font-weight: var(--rh__type-palette__textSBold__font-weight);
  letter-spacing: var(--rh__type-palette__textSBold__letter-spacing);
  line-height: var(--rh__type-palette__textSBold__line-height);
  text-decoration: unset;
}

#company-about-section {
  margin-top: 50px;
}

.row>._2QDjqlRg7zTUxYLjTHDGlF {
  -ms-flex-negative: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  width: 218.2222222222px;
}

._1fEdz1YPOLpLW1Ow3rKh92 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  background: var(--rh__primary-lightest-base);
  border-radius: 67px;
  color: var(--rh__primary-base);
  -ms-flex-direction: column;
  flex-direction: column;
  height: 134px;
  width: 134px;
}

._1fEdz1YPOLpLW1Ow3rKh92>h2 {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

._1fEdz1YPOLpLW1Ow3rKh92>p {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}